<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>Login or Register</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic%7CLato:300,300italic,400,400italic,700,900%7CMerriweather:700italic">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
        <![endif]-->
</head>
<body>
    <div class="preloader">
        <div class="preloader-body">
            <div class="cssload-container">
                <div class="cssload-speeding-wheel"> </div>
            </div>
            <p>Loading...</p>
        </div>
    </div>
    <div class="page">
        <a class="section section-banner text-center d-none d-xl-block" href="https://www.templatemonster.com/intense-multipurpose-html-template.html" style="background-image: url(images/banner/background-04-1920x60.jpg); background-image: -webkit-image-set( url(images/banner/background-04-1920x60.jpg) 1x, url(images/banner/background-04-3840x120.jpg) 2x )"><img src="images/banner/foreground-04-1600x60.png" srcset="images/banner/foreground-04-1600x60.png 1x, images/banner/foreground-04-3200x120.png 2x" alt="" width="1600" height="310"></a>
        <header class="page-head">
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-default" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="53px" data-xl-stick-up-offset="53px" data-xxl-stick-up-offset="53px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-inner">
                        <div class="rd-navbar-aside-wrap">
                            <div class="rd-navbar-aside">
                                <div class="rd-navbar-aside-toggle" data-rd-navbar-toggle=".rd-navbar-aside"><span></span></div>
                                <div class="rd-navbar-aside-content">
                                    <ul class="rd-navbar-aside-group list-units">
                                        <li>
                                            <div class="unit unit-horizontal unit-spacing-xs align-items-center">
                                                <div class="unit-left"><span class="novi-icon icon icon-xxs icon-primary material-icons-phone"></span></div>
                                                <div class="unit-body"><a class="link-dusty-gray" href="tel:#">+1 (232) 349–8447</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="unit unit-horizontal unit-spacing-xs align-items-center">
                                                <div class="unit-left"><span class="novi-icon icon icon-xxs icon-primary fa-envelope-o"></span></div>
                                                <div class="unit-body"><a class="link-dusty-gray" href="mailto:#">info@demolink.org</a></div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="rd-navbar-aside-group">
                                        <ul class="list-inline list-inline-reset">
                                            <li><a class="novi-icon icon icon-circle icon-nobel-filled icon-xxs-smaller fa fa-facebook" href="#"></a></li>
                                            <li><a class="novi-icon icon icon-circle icon-nobel-filled icon-xxs-smaller fa fa-twitter" href="#"></a></li>
                                            <li><a class="novi-icon icon icon-circle icon-nobel-filled icon-xxs-smaller fa fa-google-plus" href="#"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rd-navbar-group">
                            <div class="rd-navbar-panel">
                                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button><a class="rd-navbar-brand brand" href="index.html"><img src="images/logo-default-143x27.png" alt="" width="143" height="27" /></a>
                            </div>
                            <div class="rd-navbar-nav-wrap">
                                <div class="rd-navbar-nav-inner">
                                    <div class="rd-navbar-btn-wrap"><a class="button button-smaller button-primary-outline" href="#">Appointment</a></div>
                                    <ul class="rd-navbar-nav">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about-us.html">About</a></li>
                                        <li><a href="services.html">Services</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="portfolio.html">Portfolio</a></li>
                                        <li><a href="contact-us.html">Contacts</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <main class="page-content">
            <section class="section section-lg bg-whisper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-9 col-xl-7">
                            <div class="section-50 section-md-75 section-xl-100">
                                <h3>Login or Register</h3>
                                <form id="loginForm">
                                    <div class="form-group">
                                        <label for="loginEmail">Email address</label>
                                        <input type="email" class="form-control" id="loginEmail" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="loginPassword">Password</label>
                                        <input type="password" class="form-control" id="loginPassword" placeholder="Password">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Login</button>
                                    <button type="submit" class="btn btn-secondary">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="page-foot">
            <div class="section-35">
                <div class="container">
                    <div class="row justify-content-md-center row-30">
                        <div class="col-md-10 col-lg-8 col-xl-5">
                            <h4>Our Contacts</h4>
                            <ul class="list-0">
                                <li><span class="novi-icon icon icon-md mdi mdi-phone"></span><a class="link-gray-light" href="tel:#">+1 (232) 349–8447</a></li>
                                <li><span class="novi-icon icon icon-md mdi mdi-email-outline"></span><a class="link-gray-light" href="mailto:#">info@demolink.org</a></li>
                                <li><span class="novi-icon icon icon-md mdi mdi-map-marker"></span><span class="link-gray-light">4578 Marmora Road, Glasgow, D04 89GR</span></li>
                            </ul>
                        </div>
                        <div class="col-md-10 col-lg-8 col-xl-5">
                            <h4>Latest News</h4>
                            <article class="post-minimal">
                                <p class="post-minimal-title"><a href="#">New Guidelines for Teams and Managers</a></p>
                                <time datetime="2017-06-24" class="post-minimal-time">June 24, 2017</time>
                            </article>
                            <article class="post-minimal">
                                <p class="post-minimal-title"><a href="#">How to Solve Productivity Problems?</a></p>
                                <time datetime="2017-06-24" class="post-minimal-time">June 24, 2017</time>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-15 section-md-20 section-xl-25 bg-dusty-gray">
                <div class="container">
                    <div class="row justify-content-md-between">
                        <div class="col-md-6 text-md-left">
                            <p>© 2023 MedLab by <a href="https://www.templatemonster.com/">TemplateMonster.com</a></p>
                        </div>
                        <div class="col-md-6 text-md-right">
                            <ul class="list-inline list-inline-sm">
                                <li><a class="link-gray-light" href="#">Home</a></li>
                                <li><a class="link-gray-light" href="#">About</a></li>
                                <li><a class="link-gray-light" href="#">Services</a></li>
                                <li><a class="link-gray-light" href="#">Blog</a></li>
                                <li><a class="link-gray-light" href="#">Portfolio</a></li>
                                <li><a class="link-gray-light" href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>